* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #F3EAE3;
    --color-descr: hsl(228, 12%, 48%);
    --color-bgcard: #fff;
    --color-btn: hsl(158, 36%, 37%);
    -color-btntext: #fff;

}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--color-bg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
    display: flex;
    width: 45.25rem;
    background-color: var(--color-bgcard);
    border-radius: 15px;
}

.card__img {
    display: block;
    max-inline-size: 100%;
    width: 1.25rem;
    height: 100vh;
}

.card__btn {
    margin-top: 31px;
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--color-btn);
    border: none;
    border-radius: 0.6rem;
    color: var(--color-bgcard);
    font-size: 1.12rem;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
}



.card__img {
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.card__text {
    padding: 2.5rem;

}

.card__logo {
    letter-spacing: 0.28rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-descr);
}

.card__title {
    margin-block-start: 1.12rem;
    line-height: 1.1;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2.3rem;
    text-transform: capitalize;
}

.card__descr {
    margin-top: 1.31rem;
    font-size: 1.06rem;
    line-height: 1.7;
    font-weight: 500;
    color: var(--color-descr);
}

.card__price {
    margin-top: 32px;
    display: flex;
    color: var(--color-descr);
    align-items: center;
    gap: 1.25rem;

}

.card__new-price {
    font-family: "Fraunces", serif;
    color: var(--color-btn);
    font-weight: 700;
    font-size: 2.43rem;
}

.card__old-price {
    text-decoration: line-through;
}
